
Data/Spotify/.ipynb_checkpoints/Untitled-checkpoint.ipynb
Data/Spotify/.cache
.DS_Store
Data/Spotify/.ipynb_checkpoints/spotify-api-checkpoint.ipynb
Data/ATUS/.ipynb_checkpoints/atus-checkpoint.ipynb
Data/.ipynb_checkpoints/google-trends-checkpoint.ipynb
Data/StopQuestionFrisk/.ipynb_checkpoints/stop-and-frisk-checkpoint.ipynb
__pycache__/drive_utils.cpython-39.pyc
Data/Peloton/.ipynb_checkpoints/peloton-api-checkpoint.ipynb
Colab-Notebooks/.ipynb_checkpoints/p-values-checkpoint.ipynb
Data/.ipynb_checkpoints/nos-checkpoint.ipynb
Data/NOS/.ipynb_checkpoints/nos-checkpoint.ipynb
