
Data/Spotify/.ipynb_checkpoints/Untitled-checkpoint.ipynb
Data/Spotify/.cache
.DS_Store
Data/Spotify/.ipynb_checkpoints/spotify-api-checkpoint.ipynb
Data/ATUS/.ipynb_checkpoints/atus-checkpoint.ipynb
Data/.ipynb_checkpoints/google-trends-checkpoint.ipynb
Data/StopQuestionFrisk/.ipynb_checkpoints/stop-and-frisk-checkpoint.ipynb
__pycache__/drive_utils.cpython-39.pyc
Data/Peloton/.ipynb_checkpoints/peloton-api-checkpoint.ipynb
Colab-Notebooks/.ipynb_checkpoints/p-values-checkpoint.ipynb
Data/.ipynb_checkpoints/nos-checkpoint.ipynb
Data/NOS/.ipynb_checkpoints/nos-checkpoint.ipynb
Data/ATUS/.ipynb_checkpoints/atus-bowling-alone-checkpoint.ipynb
Data/ATUS/.ipynb_checkpoints/atus-combined-checkpoint.ipynb
Data/NOS/.ipynb_checkpoints/nos-Copy1-checkpoint.ipynb
Notes/75MinutesOfPython.aux
Notes/75MinutesOfPython.bcf
Notes/75MinutesOfPython.log
Notes/75MinutesOfPython.out
Notes/75MinutesOfPython.run.xml
Notes/75MinutesOfPython.synctex.gz
Notes/tex/readings.aux
Notes/tex/readings.aux
Notes/tex/readings.bbl
Notes/tex/readings.aux
Notes/tex/readings.bcf
Notes/tex/readings.log
Notes/tex/readings.blg
Notes/tex/readings.out
Notes/tex/readings.run.xml
Notes/tex/readings.synctex.gz
*.aux
Notes/tex/readings.aux
Notes/tex/readings.bcf
Notes/tex/readings.bbl
Notes/tex/readings.log
Notes/tex/readings.out
Notes/tex/readings.aux
Notes/tex/readings.bbl
Notes/tex/readings.bcf
Notes/tex/readings.run.xml
Notes/readings.bbl
Notes/readings.bcf
Notes/readings.blg
Notes/readings.log
Notes/readings.out
Notes/readings.run.xml
Notes/readings.synctex.gz
Notes/.ipynb_checkpoints/Z-table-checkpoint.ipynb
Notes/ztable.log
Notes/python/.ipynb_checkpoints/Z-table-checkpoint.ipynb
Notes/google-sheets-help.bbl
Notes/google-sheets-help.bcf
Notes/google-sheets-help.blg
Notes/google-sheets-help.log
Notes/google-sheets-help.out
Notes/google-sheets-help.run.xml
Notes/google-sheets-help.tex.bbl
Notes/google-sheets-help.tex.blg
Notes/google-sheets-help.toc
Notes/ztable.synctex.gz
